@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
 .form{
  font-family: 'Helvetica Neue', sans-serif;                                                           
 }
 .chat-active{
  border-width: 1px;
  border-color: blue;
 }
 .chats::-webkit-scrollbar{
  width: 4px;
 }
 .chats::-webkit-scrollbar-thumb{
  background-color: rgb(218, 218, 255);
  color: rgb(201, 201, 255);
  width: 4px;
  border-radius: 3px;
 }
 main{
   font-family: 'Schibsted Grotesk', sans-serif;  
 }
 .card{
  backdrop-filter: blur(5px);
 }
 .border-1{
  border-width: 1px;
 }
 .swiper{
  font-family: 'Helvetica Neue', sans-serif;
 }
}